.main {
  display: block;
  margin: 2 auto;
  border: solid green 2px;
  border-radius: 14px;
  max-width: 600px;
  padding: 20px 30px;
  box-shadow: 6px solid;
}

h1 {

  color: rgb(135, 135, 135);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 44px;
  font-weight: 100;
  text-align: left;
  margin-bottom: 0;
}

h2 {
  position: relative;
  bottom: -30px;
  right: -200px;
  margin-top: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: rgba(128, 128, 128, 0.486);
  font-size: 55px;
}

.description{
  color: rgb(135, 135, 135);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  padding-top: 0;
}

.date {
  font-size: 34px;
  color: rgb(135, 135, 135);
  margin-bottom: 0;
  padding-bottom: 15px;
}

.temperature {
  position: relative;
  bottom: -15px;
  font-size: 40px;
  color: gray;

}

.upper-section {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-right: 3px;
  margin-left: 3px;

}

.upper-section .city-input {
  border-radius: 4px;
  padding-right: 180px;
  box-shadow: none;
}

.weather-elements {
  position: relative;
  right: -160px;
  top: -7px;
  padding: 0;
 
}

.weather-elements ul li {
  list-style: none;
}

.pressure{
  color: rgba(96, 75, 155, 0.623);
}

.humidity{
  color:rgba(156, 70, 84, 0.767);
}
.wind{
  color: green;
}